
#container {
    display: flex;
    margin-left: 30px;
    margin-right: 20px ;
    width: 100%;
    margin-bottom: 5%;
}
 #a {
     width: 48%;
 }

 #b {
     width: 46%;
     margin-left: 2%;
 }

 #tags {
     display: flex;
     flex-direction: row;
     margin-top: 20px;
     gap: 5px;
 }

 #tag1, #tag2, #tag3 {
     background-color: #353C42;
     border: none;
     color: white;
     padding: 10px 20px;
     text-align: center;
     text-decoration: none;
     border-radius: 5px;
 }

 #Price {
     display: flex;
 }

 #PriceNum {
    margin-left: 40px;
    max-width: 240px;
    max-width: 10ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }

 #attributes {
     margin-left: 70px;
 }

#YP {
    display: flex;
}

#YP1 {
    margin-left: 182px;
    font-weight: 900;
    max-width: 6ch;
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
}

.searchButton {
    margin-top: -80px;
}

#name {
    max-width: 43ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}