
.body {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.wrapper {
    width: 800px;
    background: rgba(255,255,255,0.8);
    border-radius: 10px;
    padding: 25px;
    margin: 30px;
}


.header {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.header h2 {
    margin-bottom: 15px;
}

.search-input {
    width: 100%;
    display: flex;
    
}

.search-input .field{
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
}

.field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 5px;
    border: transparent;
    color: grey;
    -moz-appearance: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.search-input .separator {
    width: 100px;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center; 
    margin-left: 12px;
}


.field p {
    font-size: 1.2rem;
    margin: 5px;
}

.location-input {
    width: 100%;
    display: flex;
    margin: 5px 0;
}

.location-input .field{
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
}

.locationResult {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 1.2rem;
    text-align: center;
    margin-left: 12px;
    margin-right: 15px;
    border-radius: 5px;
    border: transparent;
    -moz-appearance: none;
}


.dataEnter{
    width: 100%;
    height: 135px;
    font-size: 1.2rem;
    background-color: white;
    box-shadow: grey;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 5px;
}

.dataEnter::-webkit-scrollbar {
    display: none;
}

.dataEnter .locationItem {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}


a {
    text-decoration: none;
}

a:hover {
    background-color: lightgray;
}

#clearBtn {
    cursor: pointer;
}

.searchButton {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 8px 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    background: #FB7267;
    color: white;
}

.searchButton:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: lightcoral;
    color: white;
    transition: 250ms;
}
