.insp {
    background-color: #cccccc;
    padding: 1%;
    margin-top: 20px;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
    width: 34%;
    font-weight: bold;
    font-size: larger
    ;
}